:root {
    --spellTitleInline: 150px;
    --spellDescriptionInline: 200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px rgb(34, 34, 34);
    border-radius: 10px;
    filter: drop-shadow(5px 5px 1rem rgb(160, 172, 177));
    height: 400px;
    width: 200px;
}

.card header {
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(116, 116, 157);
}

.card header p {
    inline-size: var(--spellTitleInline);
    word-wrap: break-word;
}

.card p {
    inline-size: var(--spellDescriptionInline);
    word-wrap: normal;
    text-align: center;
}